---
layout: default
---

<!-- Post Header -->
<style type="text/css">
    header.intro-header{
        background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')
    }
</style>
<header class="intro-header" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <div class="Tags">
                        {% for tag in page.tags %}
                        <a class="tag" href="/Tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>




<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">

                {{ content }}

                <hr>

                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
                    </li>
                    {% endif %}
                </ul>

				<!-- JiaThis Button BEGIN -->
				<div class="jiathis_style">
					<a class="jiathis_button_weixin"></a>
					<a class="jiathis_button_tsina"></a>
					<a class="jiathis_button_pocket"></a>
					<a class="jiathis_button_instapaper"></a>
					<a class="jiathis_button_copy"></a>
					<a href="http://www.jiathis.com/share?uid=2083931" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank"></a>
					<a class="jiathis_counter_style"></a>
				</div>
				<script type="text/javascript" >
					var jiathis_config={
						data_track_clickback:true,
						summary:"",
						shortUrl:true,
						hideMore:false
					}
				</script>
					<!-- JiaThis Picture BEGIN -->
					<script type="text/javascript">
						var jiathis_config = {
							shareImg:{
								"showType":"ALL",
								"bgColor":"",
								"txtColor":"",
								"text":"",
								"services":"",
								"position":"",
								"imgwidth":"",
								"imgheight":"",
								"divname":""
							}
						}
					</script>
					<!-- JiaThis Picture END -->
				<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js?uid=2083931" charset="utf-8"></script>
				<!-- JiaThis Button END -->
				
                <!-- JiaThis 划词分享 BEGIN -->
			    <div class="jiathis_streak"></div>

                <div class="jiathis_streak_share_16x16" id="jiathis_streak_share" style="display:none">
					<span class="streak_share_jiao"></span>
					<div class="jiathis_streak_goshare" id="jiathis_streak_goshare">
						<span class="jiathis_streak_txt">分享到</span>  
						<span style="" title="隐藏分享框" onclick="JIATHIS_STREAK.hideShare()" class="jiathis_streak_close">X</span>
					</div>
					<div class="jiathis_style" >
						<a class="jiathis_button_tsina"></a>
						<a class="jiathis_button_weixin"></a>
						<a class="jiathis_button_twitter"></a>
						<a class="jiathis_button_translate"></a>
						<a class="jiathis_button_ydnote"></a>
						<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
						<script type="text/javascript">
							var jiathis_config = {data_track_clickback:'true'};
						</script>
						
						<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=2083931" charset="utf-8"></script>	
						<script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_streak.js" charset="utf-8"></script>
					</div>
			  </div>
                <!-- JiaThis 划词分享 END -->
			  
				<!-- UJian Button BEGIN -->
				<div class="ujian-hook"></div>
				<script type="text/javascript">var ujian_config = {num:6,showType:4,lkrc:2,bgColor:'#',hoverTextColor:'#2442BD'};</script>
				<script type="text/javascript" src="http://v1.ujian.cc/code/ujian.js?uid=2083931"></script>
				<a href="http://www.ujian.cc" style="border:0;"><img src="http://img.ujian.cc/pixel.png" alt="友荐云推荐" style="border:0;padding:0;margin:0;" /></a>
				<!-- UJian Button END -->

				<!-- UY BEGIN -->
				<div id="uyan_frame"></div>
				<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2083931"></script>
				<!-- UY END -->
				
                <!-- 多说评论框 start -->
				<script>var duoshuoQuery = {short_name:"qinpengblog"};</script>
                <script src="http://static.duoshuo.com/embed.js"></script>
				
				<script type="text/javascript">
				function toggleDuoshuoComments(container){
                         var el = document.createElement('div');//该div不需要设置class="ds-thread"
                             el.setAttribute('data-thread-key', '{{page.id}}');//必选参数
                             el.setAttribute('data-url', '{{site.url}}{{page.url}}');//必选参数
                             el.setAttribute('data-author-key', 'Peng');//可选参数
                             DUOSHUO.EmbedThread(el);
                             jQuery(container).append(el);
                }
                </script>
				
				<a href="javascript:void(0);" onclick="toggleDuoshuoComments('#comment-box');">显示评论</a>
                <div id="comment-box" ></div>			
                <!-- 多说评论框 end -->
            </div>
        </div>
    </div>
</article>

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"qinpengblog"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->


<!-- async load function -->
<script>
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
</script>

<!-- anchor-js, Doc:http://bryanbraun.github.io/anchorjs/ -->
<script>
    async("http://cdn.bootcss.com/anchor-js/1.1.1/anchor.min.js",function(){
        anchors.options = {
          visible: 'always',
          placement: 'right',
          icon: '#'
        };
        anchors.add().remove('.intro-header h1').remove('.subheading');
    })
</script>
<style>
    /* place left on bigger screen */
    @media all and (min-width: 800px) {
        .anchorjs-link{
            position: absolute;
            left: -0.75em;
            font-size: 1.1em;
            margin-top : -0.1em;
        }
    }
</style>
